<%# app/views/exercises/index.html.erb %>
<div class="container">
  <h1>Tenses Exercises</h1>
  <ul>
    <% @exercises.each do |exercise| %>
      <li>
        <%= exercise.sentence.gsub("______", "_" * exercise.ready_verb.length) %>
        <br>
        Raw Verb: <%= exercise.raw_verb %>
        <%= form_with(url: '/check-answer', method: :post) do %>
          <%= hidden_field_tag :exercise_id, exercise.id %>
          <%= text_field_tag :answer, '', placeholder: 'Enter the correct form of the verb', class: 'form-control' %>
          <%= submit_tag 'Check', class: 'btn btn-success' %>
        <% end %>
        <% if @feedback[exercise.id] %>
          <div class="<%= @feedback[exercise.id] == 'Correct!' ? 'text-success' : 'text-danger' %>">
            <%= @feedback[exercise.id] %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
